:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #aaaaaa;
  --second: #ffc107;
}

/*Entre comillas estos dos selectores hacen que sean mas facil de utilizar los rem*/
html {
  font-size: 62.5%; /*Esto es como un hackeo general en diseño*/
  /*Ya que hace que se reinicio por decirlo asi la pantalla*/
}

body {
  font-size: 16px; /*Siempre se coloca lo que es el html y 
el body que son los encargados de contener todo el codigo*/
  /* 1rem = 10px */
}

/*         1rem = 10px             */
/*
.TittleMyName {
  /*Para centrar un texto horizontalmente
  text-align: center;
  color: rgb(100, 1, 180);
  font-size: 3.8rem; /* estos rem vienen siendo  30 pixeles
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*/

.developmentspam {
  color: var(--primary);
  font-size: 2rem;
}
.navigationBar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  height: 6rem;
}
.customContainer a {
  text-decoration: none;
  color: var(--white);
  padding: 2rem 0 2rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  font-weight: 400;
}
.imageMyLogo {
  width: 7rem;
  height: 6rem;
  padding: 0rem 65rem 0rem 0rem;
  pointer-events: all;
}
